.sidebar {
  height: calc(100vh - 30px);
  width: var(--sidebar-width);
  background: var(--inverted-bg-color);
  position: relative;

  transition: width 0.3s;
}

.collapsed {
  width: var(--sidebar-width-collapsed);
}

.swithers {
  width: 100%;
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
}

.lang {
  margin-left: 20px;
}